<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA</title>
    <!--<script src="./javascripts/jquery-3.1.1.js"></script>-->
    <script src="./javascripts/jquery-1.10.1.js"></script>

    <link rel="stylesheet" href="./stylesheets/NBA.css">
    <script src="./javascripts/NBA.js"></script>


</head>
<body>
<div class="team">
    <span class="west">西部</span>
    <span class="east">东部</span>
    <img src="./images/1.png" alt="">
    <img src="./images/2.png" alt="">
    <img src="./images/3.png" alt="">
    <img src="./images/4.png" alt="">
    <img src="./images/5.png" alt="">
    <img src="./images/6.png" alt="">
    <img src="./images/7.png" alt="">
    <img src="./images/8.png" alt="">
    <img src="./images/9.png" alt="">
    <img src="./images/10.png" alt="">
    <img src="./images/11.png" alt="">
    <img src="./images/12.png" alt="">
    <img src="./images/13.png" alt="">
    <img src="./images/14.png" alt="">
    <img src="./images/15.png" alt="">
    <img src="./images/16.png" alt="">
    <img src="./images/17.png" alt="">
    <img src="./images/18.png" alt="">
    <img src="./images/19.png" alt="">
    <img src="./images/20.png" alt="">
    <img src="./images/21.png" alt="">
    <img src="./images/22.png" alt="">
    <img src="./images/23.png" alt="">
    <img src="./images/24.png" alt="">
    <img src="./images/25.png" alt="">
    <img src="./images/26.png" alt="">
    <img src="./images/27.png" alt="">
    <img src="./images/28.png" alt="">
    <img src="./images/29.png" alt="">
    <img src="./images/30.png" alt="">
    <button id="Denver_Nuggets">丹佛掘金</button>
    <button id="Houston_Rockets">休斯敦火箭</button>
    <button id="Oklahoma_City_Thunder">俄克拉荷马城雷霆</button>
    <button id="San_Antonio_Spurs">圣安东尼奥马刺</button>
    <button id="Memphis_Grizzlies">孟菲斯灰熊</button>
    <button id="New_Orleans_Pelicans">新奥尔良鹈鹕</button>
    <button id="Minnesota_Timberwolves">明尼苏达森林狼队</button>
    <button id="Portland_Trail_Blazers">波特兰开拓者</button>
    <button id="Los_Angeles_Clippers">洛杉矶快船</button>
    <button id="Los_Angeles_lakers">洛杉矶湖人</button>
    <button id="Utah_Jazz">犹他爵士</button>
    <button id="Phoenix_Suns">菲尼克斯太阳</button>
    <button id="Sacramento_Kings">萨克拉门托国王</button>
    <button id="Dallas_Mavericks">达拉斯独行侠队</button>
    <button id="Golden_State_Warriors">金州勇士</button>


    <button id="Atlanta_Hawks">亚特兰大老鹰</button>
    <button id="Cleveland_Cavaliers">克利夫兰骑士</button>
    <button id="Washington_Wizards">华盛顿奇才</button>
    <button id="Indiana_Pacers">印第安纳步行者</button>
    <button id="Charlotte_Hornets">夏洛特黄蜂</button>
    <button id="Toronto_Raptors">多伦多猛龙</button>
    <button id="Orlando_Magic">奥兰多魔术</button>
    <button id="Milwaukee_Bucks">密尔沃基雄鹿</button>
    <button id="Brooklyn_Nets">布鲁克林篮网</button>
    <button id="Detroit_Pistons">底特律活塞</button>
    <button id="Boston_Celtics">波士顿凯尔特人</button>
    <button id="New_York_Knicks">纽约尼克斯</button>
    <button id="Chicago_Bulls">芝加哥公牛</button>
    <button id="Philadelphia_76ers">费城76人</button>
    <button id="Miami_Heat">迈阿密热火</button>
    <div class="result">
        <form action="/user">
            <div class="team_one" >
                <img src="" alt="" class="team_one_img">
            </div>
            <div class="vs">
                <img src="./images/vs.png" alt="">
            </div>
            <div class="team_two">
                <img src="" alt="" class="team_two_img">
            </div>
            <button class="determine" type="button">确定</button>
            <button class="empty" type="button">清空</button>
        </form>
    </div>
</div>

</body>
</html>